<h1 class="title">{{id}}
  <h4>HISTÓRICO DO ITEM</h4>
</h1>

<table>
  <thead>
    <tr>
      <th>TAGID</th>
      <th>Nome</th>
      <th>Responsável</th>
      <th>Email Responsável</th>
      <th>Movimentação</th>
      <th>Horário</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tag of tags">
      <td>{{ tag.tagId }}</td>
      <td>{{ tag.name }}</td>
      <td>{{ tag.responsibleName }}</td>
      <td>{{ tag.responsibleEmail }}</td>
      <td>{{ tag.place }}</td>
      <td>{{ tag.date }}</td>
    </tr>
  </tbody>
</table>